<h1>Pirate Information</h1>

<%pirate = Pirate.new(name: params[:pirate][:name], weight: params[:pirate][:weight], height: params[:pirate][:height])%>
<h2>Pirate Name: <%=pirate.name%> </h2>
<h2>Pirate Weight: <%=pirate.weight%> </h2>
<h2>Pirate Height: <%=pirate.height%> </h2>


<h2>Display your first ship here</h2>

<%params[:pirate][:ships].each do |ship_data|%>
<%@ship = Ship.new(ship_data)%>
  <h2>Ship Name: <%=@ship.name%> </h2>
  <h2>Ship Booty: <%=@ship.booty%> </h2>
  <h2>Ship Type: <%=@ship.type%> </h2>
<%end%>

